body {  
}
    .Tabla{
        width: 800px;
    height: 498px;
}
    .Encabezado{
        height: 50px;
        text-align:center;
        background-color:#034c81;
        color:#ffffff;
        font-size:large;
    }
    .Menu{
        height:300px;
        width:200px;
        background-color:#ffffff;
        font-size:medium;
        text-align:center;
        color:#ffffff;
    }
    .Contenido {
        width:600px;
        text-align:right;
        margin-top:0px;
        background-color:#ffffff;
        color:#ffffff;
        font-size:large;
    }

  

